@import "../../variable.scss";
@import "../../mixin.scss";

.grid {
  display: grid;
  background-color: $light-gray;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 0 8rem;
}

@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
}
