@import "../../variable.scss";
@import "../../mixin.scss";

header {
  padding-top: 3rem;
  background-color: green;
  @include f-column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  hr {
    background-color: $white;
    width: 34%;
    height: 1px;
    opacity: 0.4;
  }
  h3 {
    @include robo-bold;
  }
  h1,
  h2 {
    color: $white;
    font-size: 5rem;
    @include robo-bold;
  }
  p {
    max-width: 50%;
    text-align: center;
  }
  ul {
    width: 100%;
    @include f-row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    li {
      @include f-column;
      justify-content: space-between;
      text-align: center;
      gap: 2rem;
      border-left: 1px solid rgba(255, 255, 255, 0.433);
      width: 100%;
      &:first-of-type {
        border-left: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    p {
      max-width: 80%;
    }
    h1,
    h2 {
      font-size: 3rem;
      @include robo-bold;
    }
    ul {
      flex-wrap: wrap;
      li {
        border: none;
        width: 50%;
        padding-bottom: 2rem;
      }
    }
  }
}
