@import "./variable.scss";
@import "./mixin.scss";

/* -font import, globale styles für die ganze APP, oder h1, h2, h3 */
/* -Komponente unabhängige sachen */

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}
